body {
    color: black;
    background-color: rgb(128, 109, 109);
    font-size: xx-large;
    display: inline;
}
img{
width: 600px;
    margin-left: -450px;
    padding-left: 420px;

  }
h4 {
    color: white;
}
.note {
    color: black;

}
h1 {
font-size: 30px;
}
