body {
    color: black;
    padding-left: 100px;
    background-color: rgb(128, 109, 109);
    font-size: large;
}
img{
width: 900px;
    margin-left: -250px;
    padding-left: 420px;

  }
h4 {
    color: white;
}
.note {
    color: black;
    padding-left: 200px;
  padding-right: 200px;
}
h1 {
    padding-left: 400px;
  padding-right: 200px;  
}
